* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--c-bg);
  color: var(--c-primary);
  font-family: "Courier New", Courier, monospace;
  overflow: hidden;
  touch-action: none;
}

canvas {
  background-color: var(--c-canvas);
  z-index: 1;
  border: 1px solid #333;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

#ui-layer {
  position: absolute;
  top: 20px;
  left: 20px;
  pointer-events: none;
  z-index: 999;
  text-shadow: 0 0 5px var(--c-primary);
}

.glitch-bar-ui {
  width: 15rem;
  height: 1rem;
  background: #333;
  border: 1px solid #555;
}

.glitch-bar-fill {
  background: var(--c-secondary);
  box-shadow: 0 0 1rem var(--c-secondary);
}
