* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: black;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

h1 {
  color: aliceblue;
  font-size: 3.5rem;
}
